@page
@model TPPro.Pages.Produits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.ProduitName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.ProduitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Quantite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Quantite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Categorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.CategorieID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src="../@Html.DisplayFor(model => model.Produit.ImagePath)" alt="@Html.DisplayFor(model => model.Produit.ImagePath)" class="img-thumbnail" style="max-width: 100px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produit?.ProduitID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
